.title-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.p-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 

.primary-color{
  color: #E95A08;
}
body{
  width: 100%;
  font-size: 1rem;
}
header, main {
    width: 80%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 120px;
}
.nav-link a{
    text-decoration: none;
    margin-left: 48px;
}
.nav-link i{
    margin-right: 10px;
}
.nav-link .home{
    font-size: medium;
    font-weight: bold;
    color: #252432;
}
.nav-link .shop{
    font-size: medium;
    color: #8987A1;
}
.nav-link .cart{
    font-size: medium;
    color: #000000;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.about-banner{
    width: 570px;
    align-content: end;
}
.banner-image{
  max-width: 570px;
}
.title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0px;
}
.description{
    font-size: 1.45rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

/* main style */
/* our plants section style */
.h3-title{
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 0px;
}
.about-plants{
  text-align: center;
  max-width: 880px;
  margin: 120px auto 50px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 210px;
}
.card{
  text-align: center;
}
.name{
  font-weight: medium;
  font-size: 22px;
  color: #111111;
  margin-bottom: 10px;
  margin-top: 30px;
}
.price{
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  margin-top: 0px;
  margin-bottom: 30px;
}
.btn-primary{
  background-color: #E95A08;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  padding: 26px 50px;
  width: 100%;
  border-style: none;
}
.card-image{
  width: 100%;
}

/* flower lover style */
.container {
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 120px;
}
.about-flower-lover > ul > li{
  margin-bottom: 20px;
}
.flower-lover-image{
  max-width: 540px;
}
.about-flower-lover{
  max-width: 540px;
}
.badge{
  width: 286px;
  height: 286px;
  margin-left: 345px;
  margin-top: -130px;
  position: absolute;
  filter: drop-shadow(10px 10px 20px gray)
}


/* responsive style */
@media screen and (max-width: 576px) {
  header, main{
    width: 96%;
    margin: 0px auto;
  }
  /*header responsive  */
    .nav-link > .home , .shop{
        display: none;
    }
    .nav-link .cart{
      font-size: 20px;
    }
    .banner{
      flex-direction: column-reverse;
      justify-content: center;
    }
    .title{
      font-size: 2rem;
    }
    .about-banner{
      width: 100%
    }
    .banner-image{
      width: 100%;
    }
    .navbar{
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .h3-title{
      font-size: 2rem;
    }
    .description{
      font-size: 1.2rem;
    }

    /* our plants responsive */
    .card-container{
      grid-template-columns: repeat(2, 1fr);
    }
    .about-plants{
      margin-top: 65px;
    }
    .banner{
      margin-bottom: 0px;
    }
    .btn-primary{
      background-color: #E95A08;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 1rem;
      padding: 19px 30px;
      width: 100%;
      border-style: none;
}

    /* flower lover */
    .container{
      flex-direction: column;
      gap: 0px;
      max-width: 100%;
    }
    .about-flower-lover h3{
      margin-top: 20px;
    }
    .about-flower-lover br{
      display: none;
    }
    .badge{
      display: none;
    }
    .card-container{
      margin-bottom: 65px;
    }
    .flower-lover-image{
      max-width: 100%;
    }
}